html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
body {
    background-color: #808080;
    background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
}
.container {
    margin: 0 25%;
    margin-top: 120px;
    padding: 20px;
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 10px;
}
#na , #un , #pw {
    border-style: none;
}
.title , .name , #username , #password , .fgt , .btn {
    margin-bottom: 20px;
}
.hide {
    display: none;
}
#fUsername, #fPassword {
    margin-top: 20px;
}
.other a {
    text-decoration: none;
}
.btn {
    padding: 10px 15px 10px 10px;
    border: none;
    background-color: rgb(45, 235, 45);
    color: white;
}
