@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div, article, header, main {
  margin: 0;
  padding: 0;
}
body {
    background-color: #FFD154;
    color: #3d3d3d;
}
body, button {
    font-family: 'Raleway', sans-serif;
}

/* This is styles for header */
header {
    height: auto;
    padding-bottom: 15px;
}
header p {
    text-indent: 30px;
}

/* This is styles for main*/
main {
    background-color: #FFEEBF;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}
h2 {
    margin-bottom: 10px;
}
button, input {
    border: none;
}
#container {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
/* form input */
.form-input input {
    display: block;
    width: 90%;
    padding: 10px 5px;
    margin: 10px 15px 0 0;
    border-radius: 5px;
    border-style: none;
    background-image: linear-gradient(to left, rgba(255,0,0,0), #cccccc, #cccccc);
}
.form-input button {
    padding: 5px;
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
}
.btn-option {
    margin: 10px 0;
}
.box-left button:hover {
    opacity: 0.7;
    cursor: pointer;
}
.add-option01 {
    background-color: #FFD154;
}
.add-option02 {
    background-color: #8f6a04;
}
/* form search */
.form-search input, .form-search button {
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}
.form-search ul {
    margin: 10px 0;
}
.form-search button {
    margin-top: 10px;
    color: white;
    background-color: green;
}
.search {
    width: 50%;
    background-color: #cccccc;
}
.search-bar {
    margin: 10px 0;
}


/* book shelf */
#container-book {
    margin-bottom: 30px;
}
.move, .delete {
    padding: 5px;
    margin: 5px 0;
    color: white;
    border-radius: 5px;
}
.move:hover, .delete:hover {
    opacity: 0.7;
    cursor: pointer;
}
.delete {
    background-color: red;
}
h3 {
    margin-bottom: 10px;
}
.box-right p {
    margin-bottom: 5px;
}
#bookshelf-readed, #bookshelf-not-readed {
    margin: 15px 0;
    padding: 10px 0;
    border-top: dotted;
    border-bottom: dotted;
}

/* This is styles for footer */
footer {
    background-color: #344D57;
    background-size: 100%;
    width: 100%;
    height: auto;
}
footer p {
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
}
.clear {
    clear: left;
}
